~*
.DS_Store
*.swp
.idea/
*.csv
*.pyc
*.png
*.pkl
*.webm
*.gif
*.prj
*.sbx
*.sbn
*.xml
*.tif
*.jpeg
!*README.txt
*.db
*.hdf
*.bin
*.h5
*.zip
*.xlsx
*.job
*.tar
*.lock
*.tar.gz
*.shp
*.cpg
*.dbf
*.shx
*.pdf
*.nc
*.h5
*.mp4
*.ini

.coverage
.cache

.ipynb_checkpoints/

dist/*
build/*
!data/test/convert/*
*.egg-info
MANIFEST
.eggs/

docs/build/
docs/source/examples
examples/scripts